<!DOCTYPE html>
<html>
        <head>
                <title>Home Page (llama_chatbot)</title>
        </head>
        <body>
                Web ChatBot: <a href="improved-chatbot-interface.html">llama3.2 based WebChatBot</a>
                <br>
                If error occurs, click this link to delete your previous data (session): <a href="session_out">Delete Session</a>
                <br>
                网络聊天机器人： <a href="improved-chatbot-interface_cn.html">llama3.2 based WebChatBot</a>
                <br>
                如果出现错误，请单击此链接删除您之前的数据（会话）： <a href="session_out">Delete Session</a>
                <h6 style="position: fixed; right: 0; bottom: 90%;">Deployed through USTC 3080 (10GB), by <a href='https://github.com/TyBruceChen'>TyBruce</a></h6>

        </body>
</html>
